
.section .reveal h1, .section .reveal h2, .section .reveal p {
    color: white;
    margin-top: 50px;
    font-weight: bold;
}


.reveal ol, .reveal ul {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 1em;
}

.reveal h6 {
    font-size: 20pt;
}

.exclaim .reveal li, ul, h6{
  margin-bottom: 0.2em;
  font-size: 20pt;
  font-family: "News Cycle", Impact, sans-serif;
}

.process .reveal li, h6{
  margin-bottom: 0.3em;
  font-size: 18pt;
  font-family: "News Cycle", Impact, sans-serif;
}
.process .reveal h4{
  margin-bottom: 0.3em;
  font-size: 20pt;
}

.description .reveal li, h6{
  margin-bottom: 0.3em;
  font-size: 22pt;
  font-family: "News Cycle", Impact, sans-serif;
}

.summary .reveal ul, h6{
  margin-bottom: 0.3em;
  font-size: 18pt;
  font-family: "News Cycle", Impact, sans-serif;
}

.summary .reveal h5{
  font-size: 25pt;
  font-weight: 600;
}